@import "bootstrap/_bootstrap.scss";

$circle-radius: 300px;
$circle-time: 14s;
$image-size: 50px;

body {
	//font-family: 'Open Sans', sans-serif;
	font-family: 'Flavors', cursive;
}
.bg {
	position: fixed;
	width: 100%;
	height: 100%;
}
.main-cnt {
	background: blue;
}
.bg-lights {
	opacity: .4;
	background: url("../images/BGs/lights.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 200%;
	left: -50%;
	height: 200%;
	top: -50%;
}
.bg-dark-circle {
	background: url("../images/BGs/black.png") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.rotate-right {
	-webkit-animation: orbit 65s linear infinite;
			animation: orbit 65s linear infinite;
}
.rotate-left {
	-webkit-animation: rev-orbit 30s linear infinite;
			animation: rev-orbit 30s linear infinite;
}
h2 {
	color: white;
	font-size: 38px;
	text-shadow: 1px 1px 2px cyan;
	width: 100%;
	position: absolute;
}
.v-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}
.h-center {
	margin: auto;
	text-align: center;
}
.games-box {
	position: relative;
	width: $circle-radius;
	height: $circle-radius;
	border-radius: $circle-radius / 2;
}
.game {
	position: absolute;
}
.rotate {
	/* time will be overwritten by angular */
	position: absolute;
	border-radius: $circle-radius / 2;
	width: 100%;
	height: 100%;
	-webkit-animation: orbit $circle-time linear infinite;
	animation: orbit $circle-time linear infinite;
	.big &:hover {
		-webkit-animation-play-state: paused; 
    			animation-play-state: paused; 
		a {
			-webkit-animation-play-state: paused;
   					animation-play-state: paused; 
		}
	}
	a {
		display: block;
		-webkit-animation: rev-orbit $circle-time linear infinite;
		animation: rev-orbit $circle-time linear infinite;
	}
	img {
		width: $image-size;
		height: $image-size;		
		border-radius: 25px;
		&:hover {
			-webkit-transform: scale(1.2);
					transform: scale(1.2);
		}
	}
}
@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg);}
    to   { -webkit-transform: rotate(360deg);}
}
@keyframes orbit {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}
@-webkit-keyframes rev-orbit {
    from { -webkit-transform: rotate(0deg);}
    to   { -webkit-transform: rotate(-360deg);}
}
@keyframes rev-orbit {
    from { transform: rotate(0deg);}
    to   { transform: rotate(-360deg);}
}
.fade-image {
    -webkit-transition: .3s linear all;
    		transition: .3s linear all;
    opacity: 1;
    &.ng-hide-remove {
    	opacity: 0;
    }
}
li {
	list-style: none;
}
.bottom {
	font-family: sans-serif;
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.footer {
	width: 200px;
	opacity: .8;
	border-radius: 35px;
	display: block;
	margin: auto;
	padding: 20px 0;
  	text-align: center;
	li {
		position: relative;
		display: inline;
		padding: 0 5px;
		a {
			text-decoration: none;
			color: cyan;
			letter-spacing: -0.3px;
		}
	}
}	
.tooltip {
	width: 120px;
}
.audio {
	cursor: pointer;
	.pause {
		font-size: 20px;
		position: absolute;
		left: 11px;
		top: -4px;
		color: red;
		font-weight: bold;
	}
	&.pause {
		opacity: .5;
	}
}