<section class="main-cnt bg" ng-click="phoneStartPlaying()">
		<div class="bg-lights rotate-right-fast bg"></div>
		<div class="bg-lights rotate-right bg"></div>
		<div class="bg-lights rotate-left bg"></div> 
	<div class="bg-dark-circle bg"></div>
	<div class="title-center">
		<h2 class="center">GoMad's<br>Playground</h2>
	</div>
	<div class="games-rotate">
		<span ng-repeat="game in games" ng-show="game.show" class="fade-image">
			<span class="rotate" ng-style="rotateStyle">				
				<a target="_blank" href="{{::game.url}}"><img ng-style="rotateStyle" ng-src="{{::game.img}}"></a>
			</span>
		</span>
	</div>
</section>
